.item {
    width: 23%;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

h3{
    margin: 10px;
}

.itemImg{
    width: 100%;
}

.item:hover{
    box-shadow: 0 0 5px black;
}